.appBar {
    position: fixed;
    height: 100%;
    width: 250px;
    z-index: 10;
    padding-left: 1em;
}

.appBar-title {
    padding-top: 1em;
    padding-bottom: 4em;
}

.appBar-accountArea {
    float: right;
    position: fixed;
    bottom: 0;
    width: 250px;
    margin-bottom: 2em;
}

.appBar-accountUserPic {
    width: 38px;
    height: 38px;
    border-radius: 100em;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(214, 214, 214);
    vertical-align: middle;
}

.appBar-accountUserName {
    margin-left: 0.5em;
}

.appBar-popUpButton {
    padding: 0.2em;
}

.appBar-popUpButton:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

.appBar-popUp-username {
    font-weight: 700;
    font-size: 1.1em;
    padding-bottom: 0.5em;
}

.appBar-link {
    display: block;
    font-size: 2em;
    font-weight: 300;
    padding-left: 0.3em;
    text-decoration: none;
    color: rgb(163, 163, 163);
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.appBar-link:hover {
    cursor: pointer;
}

.appBar-link-current {
    font-weight: 500;
    color: black;
}

.appBar-link-current:hover {
    cursor: default;
    color: black;
}