.blotComposeTextArea-textArea {

    width: 100%;
    height: 5em;
    border: none;
    resize: none;
    overflow-y: auto;
    word-wrap:break-word;
    
}

.blotComposeTextArea-textArea:focus {
    outline: none;
}