.hollowButton {

    background: none;
    border-style: solid;
    border-color: black;
    border-radius: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: 700;

}

.hollowButton:hover {
    cursor: pointer;
}