.footer {
    color: rgb(54, 54, 54);
    text-align: center;
    padding-top: 5em;
    padding-bottom: 1em;
    font-weight: 300;
}

.footer-link {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.footer-heart {
    color: red;
}