.profPicInput-container {
    background-color: rgb(240, 240, 240);
    border-radius: 100em;
    border-style: dashed;
    border-color: rgb(220, 220, 220);
    color: rgb(210, 210, 210);
}

.profPicInput-container:hover {
    cursor: pointer;

    color: rgb(180, 180, 180);
    transition: color linear 0.2s;
    -webkit-transition: color linear 0.2s;
    -ms-transition: color linear 0.2s;
    -o-transition: color linear 0.2s;
    -moz-transition: color linear 0.2s;

    border-color: rgb(190, 190, 190);
    transition: border-color linear 0.2s;
    -webkit-transition: border-color linear 0.2s;
    -ms-transition: border-color linear 0.2s;
    -o-transition: border-color linear 0.2s;
    -moz-transition: border-color linear 0.2s;
}

.profPicInput-input:hover {
    cursor: pointer;
}