.textField {
    border-style: solid;
    border-width: 1px;
    border-radius: 0.2em;
    padding: 1em;
    border-color: rgb(201, 201, 201);
    width: 25em;
}

.textField-container {
    clear: both;
    margin: 0.7em;
}