.loginPage {
    position: absolute;
    top: 50%;
    height: 30%;
    width: 80%;
    margin: -15% 0 0;
}

.loginPage-title {
    text-align: center;
    font-weight: 300;
    padding-top: 1.5em;
    font-size: 2em;
    padding-bottom: 0.5em;
}

.loginPage-credentialEntryPanel {

    padding-bottom: 1.5em;

}

.loginPage-registerContentArea {

    padding: 3em;

}

.loginPage-link {
    text-decoration: none;
    color: black;
    font-weight: 700;
}