.userPage-page {
    padding-top: 5em;
    padding-right: 3em;
    padding-left: 3em;
    padding-bottom: 3em;
}
.userPage-displayName {
    font-weight: 300;
    font-size: 3em;
}

.userPage-username {
    color: white;
    background-color: black;
    padding: 0.5em;
    font-weight: 500;
    border-radius: 0.5em;
}

.userPage-userImage {
    border-radius: 100em;
    border-style: solid;
    border-color: rgb(214, 214, 214);
    width: 128px;
    height: 128px;
}

.userPage-statItem {
    display: inline;
    color: rgb(85, 85, 85);
}

.userPage-statCount {
    font-weight: 500;
    font-size: 2em;
    color: black;
}

.userPage-userInfo {
    margin-bottom: 4em;
}

.userPage-section {
    font-size: 2em;
    font-weight: 300;
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-decoration: none;
    color: rgb(163, 163, 163);
}

.userPage-section:hover {
    cursor: pointer;
}

.userPage-section-current {
    font-weight: 500;
    color: black;
}

.userPage-section-current:hover {
    cursor: default;
    color: black;
}

.userPage-tabs {
    margin-bottom: 2em;

}

.followButton:hover {
    background-color: red
}