/** Google Font Imports **/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

@import '~antd/dist/antd.css';

.app {
  background-color: white;
  font-family: 'Roboto';
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-Content {
  flex: 1;
  margin-left: 250px;
}

.app-Footer {
  margin-left: 250px;
}

.branding-logo {
  font-weight: 500;
  font-size: 5em;
  text-align: center;
}

.blotPage {
  padding-top: 6em;
}